# Firebase
.firebase/
database.rules.json
storage.rules

# General
.DS_Store
*.log
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# Scripts
seed_database.sh

# Environment variables
.env
.env.*

# Build output
build/
dist/

# Node modules
**/node_modules
